/* BOTÃO BASE */
.button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

/* PRIMARY */
.button.primary {
    background-color: var(--roxo-mobiliza); /* Cor de fundo com a variável */
    color: #fff; /* Cor do texto */
    box-shadow: none; /* Remove qualquer sombra */
}

.button.primary > .btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}

/* OUTLINE */
.button.outline {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 230px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.coluna-time-do-bem button, 
.coluna-nossa-lojinha button {
    margin: 0 auto;
    display: block;
}

.button.outline:hover {
    background-color: white;
    color: var(--amarelo-mobiliza);
}
