/* Seção principal */
.voluntariado {
  background-color: #f9f9f9;
  text-align: center;
  opacity: 0;
  animation: fadeInContainer 1.5s ease-out forwards;
}

.voluntariado h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

/* Layout das colunas */
.colunas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.coluna {
  flex: 1;
  padding: 20px;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 1s ease-out forwards;
}

/* Estilos individuais das colunas */
.coluna-desejo-ser-voluntario {
  background-color: var(--roxo-mobiliza);
  color: #fff;
  position: relative;
  z-index: 2;
}

.coluna-time-do-bem {
  background-color: var(--amarelo-mobiliza);
  color: var(--roxo-mobiliza);
}

.coluna-nossa-lojinha {
  background-color: var(--roxo-mobiliza);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Títulos das colunas */
.coluna h3 {
  font-size: 2.4em;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: white;
}

/* Destaques de cores */
.destaque-amarelo {
  font-family: "Caveat", serif;
  color: var(--amarelo-mobiliza);
  font-size: 35px;
  margin: 1rem;
}

.destaque-roxo {
  font-family: "Caveat", serif;
  color: var(--roxo-mobiliza);
  font-size: 35px;
  margin: 1rem;
}

/* Parágrafos */
.paragrafo2,
#roboto {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 1rem;
}

/* Botões */
.colunas button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  width: 230px;
  padding: 10px;
  border-radius: 25px;
  margin-top: 20px;
  font-size: 1.1em;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.colunas button:hover {
  background-color: white;
  color: var(--amarelo-mobiliza);
  transition: 0.3s;
  transform: scale(1.05);
}

/* Remover sublinhado dos links */
.colunas a {
  text-decoration: none;
}

/* Imagens */
.imagens-lojinha {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.imagens-lojinha img {
  width: 95px;
  height: auto;
  animation: fadeInScale 0.8s ease-out forwards;
  transition: transform 0.3s ease-in-out;
}

.imagens-lojinha img:hover {
  transform: scale(1.1);
}

.coluna-desejo-ser-voluntario img {
  position: absolute;
  width: 13.75rem;
  margin-top: 57px;
  left: 94%;
  transform: translateX(-50%);
  z-index: 3;
}

/* Animações */
@keyframes fadeInContainer {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsivo para telas menores que 768px */
@media (max-width: 768px) {
  .colunas {
    flex-direction: column;
  }

  .coluna {
    min-height: auto;
    padding: 25px;
  }
  .coluna-desejo-ser-voluntario {
    background-color: var(--roxo-mobiliza);
    color: #fff;
    position: relative;
    z-index: 2;
    padding-left: 90px; /* Adiciona um espaço interno à esquerda */
  }

  .coluna-desejo-ser-voluntario img {
    position: absolute;
    width: 13.5rem;
    margin-top: 22%;
    left: 8%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .coluna h3 {
    font-size: 2.8rem;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    color: white;
  }
  .imagens-lojinha img {
    width: calc(
      33.33% - 10px
    ); /* Ajuste de largura para as imagens da lojinha */
    max-width: 100px;
    height: auto;
  }

  .colunas button {
    width: 100%;
    padding: 12px;
    font-size: 1em;
  }

  .destaque-amarelo {
    font-family: "Caveat", serif;
    color: var(--amarelo-mobiliza);
    font-size: 1.5rem;
    margin: 1rem;
  }

  .destaque-roxo {
    font-family: "Caveat", serif;
    color: var(--roxo-mobiliza);
    font-size: 1.5rem;
    margin: 1rem;
  }
}
