/* Estrutura da seção */
.sobre-nos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--amarelo-mobiliza);
  padding: 40px;
  flex-wrap: wrap; /* Permite que os elementos se ajustem em telas pequenas */
}

.conteudo-sobre-nos {
  max-width: 60%;
  margin-top: 10px;
}

.sobre-nos h2 {
  color: var(--roxo-mobiliza);
  font-size: 2.25rem; /* 36px em unidades de rem */
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  transform: translateX(-50px);
  animation: slideInLeft 1s ease-out forwards;
}

.sobre-nos p {
  font-size: 1.125rem; /* 18px em unidades de rem */
  line-height: 1.8;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: justify;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards 0.5s;
}

.sobre-nos blockquote {
  font-style: italic;
  color: var(--roxo-mobiliza);
  font-size: 1.25rem; /* 20px em unidades de rem */
  font-weight: 600;
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards 1s;
}

/* Layout das imagens */
.imagens-sobre-nos {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
  grid-gap: 15px;
  margin-top: 35px;
  max-width: 30%; /* Ajuste a largura para manter as imagens menores */
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards 1.5s;
}

.imagens-sobre-nos img {
  width: 100%;
  height: auto;
  max-width: 250px; /* Define a largura máxima para as imagens */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  loading: lazy; /* Carregamento preguiçoso */
}

.imagens-sobre-nos img:hover {
  transform: scale(1.05) translateY(-10px);
}

/* Estilo para contadores e números */
.contador {
  font-weight: bold;
  font-size: 1.875rem; /* 30px em unidades de rem */
  color: var(--roxo-mobiliza);
  animation: counterAnim 1s ease-out forwards;
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes counterAnim {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .conteudo-sobre-nos h2 {
    font-size: 1.5rem; /* Ajustando o tamanho da fonte para telas menores */
  }

  .conteudo-sobre-nos p,
  .conteudo-sobre-nos blockquote {
    font-size: 0.9rem;
  }

  .sobre-nos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .conteudo-sobre-nos {
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }

  .imagens-sobre-nos {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas médias */
    max-width: 100%;
  }

  .imagens-sobre-nos img {
    width: 100%;
    height: auto;
    max-width: 200px; /* Ajustando o tamanho das imagens para telas menores */
  }
}

@media (max-width: 480px) {
  .conteudo-sobre-nos h2 {
    font-size: 1.2rem;
  }

  .conteudo-sobre-nos p,
  .conteudo-sobre-nos blockquote {
    font-size: 0.85rem;
  }

  .sobre-nos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagens-sobre-nos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas pequenas */
    gap: 10px;
    width: 100%;
  }

  .imagens-sobre-nos img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 150px; /* Ajustando o tamanho das imagens para telas muito pequenas */
    border-radius: 10px;
  }
}
