.missao-mobiliza {
    padding: 40px 20px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .missao-mobiliza h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  #retangulo-abaixo-do-titulo {
    width: 50px;
    margin: 10px auto;
  }
  
  .control:focus {
    outline: none;
  }
  
  .informacoes-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  .informacao-item {
    width: 30%;
    margin: 10px 0;
  }
  
  .informacao-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .informacao-item p {
    font-size: 1rem;
    color: #555;
  }
  
  .container-carrossel {
    position: relative;
    max-width: 100%;
    margin: 0;
  }
  
  .gallery-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .gallery {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .item {
    min-width: 303px;
    height: 250px;
    flex-shrink: 0;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição para a opacidade e o zoom */
  }
  
  .current-item {
    opacity: 1;
    transform: scale(1.05); /* Aplica o zoom no item ativo */
  }
  
  .control {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .arrow-left {
    left: 10px;
  }
  
  .arrow-right {
    right: 10px;
  }
  
  .gallery img {
    width: 265px;
    height: 250px;
    object-fit: cover;
  }
  