.missao-mobiliza {
  padding: 40px;
  background-color: var(--roxo-mobiliza);
}

.missao-mobiliza h2 {
  color: #fff;
  font-size: 36px;
  padding: 50px 0px 0px 9px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}

#retangulo-abaixo-do-titulo {
  width: auto;
  height: auto;
  object-fit: none;
  margin-left: 12px;
  display: block;
}

.informacoes-container {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  color: #fff;
}

.informacao-item {
  width: 30%;
  margin: 10px 0;
  padding: 10px;
}

.informacao-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.informacao-item p {
  font-size: 1rem;
  color: white;
  line-height: 1.8;
  word-wrap: break-word;
  word-break: break-word;
  font-family: "Roboto", sans-serif;
  white-space: pre-wrap;
}

.container-carrossel {
  position: relative;
  max-width: 100%;
  margin: 0;
}

.gallery-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: pan-y;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.item {
  /* min-width: 100%; */
  /* height: 250px; */
  flex-shrink: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.gallery img {
  width: 350px;
  height: 280px;
  gap: 10rem;
  object-fit: cover;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: var(--amarelo-mobiliza);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.control {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.control:focus {
  outline: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .informacao-item {
    width: 100%;
    margin: 20px 0;
  }
  .conteudo-sobre-nos {
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    padding-top: 36px;
}

  .missao-mobiliza h2 {
    font-size: 26px;
  }
  .gallery img {
    /* width: 100%;
    height: 250px; */
    gap: 5rem;
    object-fit: cover;
  }
  .gallery img {
    width: 344px;
    height: 280px;
    gap: 10rem;
    object-fit: cover;
  }

  .arrow-left,
  .arrow-right {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 700px) {
  .informacao-item h3 {
    font-size: 1.2rem;
  }

  .gallery img {
    width: 100%;
    height: 250px;
    gap: 5rem;
    object-fit: cover;
  }

  .informacao-item p {
    font-size: 0.9rem;
  }

  .missao-mobiliza h2 {
    font-size: 22px;
  }
}
