/* Seção Fale com a gente */
#fale-com-a-gente {
  animation: gradientAnimation 10s ease infinite;
  color: #ffffff;
  text-align: left;
  padding: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#fale-com-a-gente h2 {
  font-size: 2.25rem;
  font-weight: 800;
  margin-top: 6.5rem;
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--roxo-mobiliza);
  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
}

.descricao-contato {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: var(--roxo-mobiliza);
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards 0.7s;
  margin-left: 1rem;
}

/* Container de contato */
.contato-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

.contatos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

/* Opções de contato */
.contato-opcao {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  opacity: 0;
  animation: slideUp 0.8s forwards;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  backdrop-filter: blur(10px);
  border: 1px solid #49073d6b;
}

.contato-opcao:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.contato-opcao h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--roxo-mobiliza);
}

.contato-opcao p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: var(--roxo-mobiliza);
  text-align: left;
}

.contato-opcao img {
  width: 154px;
  height: auto;
  margin-top: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contato-opcao a:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}

/* Imagens sobre nós */
.imagens-fale-conosco {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 450px;
  max-width: 800px;
}

.imagens-fale-conosco img {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagens-sobre-nos img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  #fale-com-a-gente h2 {
    font-size: 1.8rem;
    padding-top: 8.5rem;

    padding: 20px 0;
  }

  .contato-container {
    flex-direction: column;
    padding: 10px;
  }

  .contatos {
    grid-template-columns: 1fr;
  }

  .imagens-sobre-nos {
    grid-template-columns: 1  ;
  }
}

@media (max-width: 480px) {
  #fale-com-a-gente h2 {
    font-size: 1.5rem;
    padding-top: 8.5rem;

  }

  .contato-opcao h3 {
    font-size: 1.2rem;
  }

  .contato-opcao p {
    font-size: 0.8rem;
  }
}