/* Seção do Patrocinador */
.patrocinador-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 40px 0 50px;
}

.patrocinador-texto {
  flex: 1;
  margin-right: 20px;
  line-height: 1.8; /* Substitui o valor fixo para melhorar a escalabilidade */
}

.patrocinador-texto h2 {
  color: var(--amarelo-mobiliza);
  font-size: 2.5rem;
  margin-bottom: 10px;
  white-space: nowrap; /* Garante que o texto não quebre */
}

.patrocinador-texto p {
  font-size: 1.1rem;
  margin: 3rem 0 15px;
  color: #49073D;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 650px;
  line-height: 1.6; /* Adiciona uma proporção consistente */
}

.logos-patrocinadores {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.logos-patrocinadores img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: scale-down;
  overflow: hidden;
}

/* Formulário de Contato */
.formulario-contato {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  border-radius: 8px; /* Suaviza os cantos do formulário */
}

.formulario-contato h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: var(--roxo-mobiliza);
}

.formulario-contato input,
.formulario-contato textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box; /* Garante que padding não cause overflow */
}

.formulario-contato textarea {
  resize: none; /* Evita redimensionamento */
}

.formulario-contato button {
  width: 100%;
  padding: 12px;
  background-color: var(--roxo-mobiliza);
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-contato button:hover {
  background-color: var(--amarelo-mobiliza);

}

/* Responsividade */
@media (max-width: 768px) {
  .patrocinador-section {
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
  }

  .patrocinador-texto {
    margin-right: 0;
    text-align: center;
  }

  .logos-patrocinadores {
    flex-direction: column;
    align-items: center;
  }

  .logos-patrocinadores img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }

  .formulario-contato {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .patrocinador-texto h2 {
    font-size: 2rem;
  }

  .patrocinador-texto p {
    font-size: 1rem;
    width: auto; /* Remove largura fixa para ajustar a tela menor */
  }

  .formulario-contato h3 {
    font-size: 1.6rem;
  }

  .formulario-contato input,
  .formulario-contato textarea {
    padding: 10px;
  }

  .formulario-contato button {
    padding: 10px;
  }
}
