/* Estilo do Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffffef;
  padding: 0 10%; /* Padding com porcentagem para responsividade */
  z-index: 1000;
  border-bottom: 1px solid #ddd;
  padding-left: 2.45rem;
  padding-right: 2.45rem;
  animation: fadeInHeader 1s ease-out forwards; /* Animação de fade-in */
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* Exibe o menu hamburguer apenas em telas menores */
.menu-toggle {
  display: none;
}

#Home a {
  color: var( --amarelo-mobiliza );
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  font-weight: 700;
  position: relative;
  padding: 8px 16px;
  letter-spacing: 1px;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: #333;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

ul {
  font-size: 16px;
  color: #555;
}

nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--roxo-mobiliza);
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover {
  color: var(--roxo-mobiliza);
  transform: translateY(-3px);
  text-decoration: none;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.logo img {
  width: 130px;
  height: 4rem;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: scale(1.1);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  header {
    padding: 0 5%; /* Menor padding em telas menores */
  }

  .container {
    display: flex;
    justify-content: stretch;
    align-items: center;
  }

  .logo img {
    width: 120px;
  }

  .cta-buttons .btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  /* Menu Hamburguer - Início */
  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  nav ul.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  nav ul li {
    margin: 10px 0;
    width: 100%;
    text-align: left;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1001;
  }

  .menu-toggle div {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: transform 0.4s, opacity 0.4s;
  }

  .menu-toggle.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active div:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* Responsividade para telas muito pequenas (mobile) */
@media (max-width: 576px) {
  .container {
    display: flex;
    justify-content: revert-layer;
    align-items: center;
  }

  .cta-buttons {
    flex-direction: row; /* Botões em linha */
    gap: 5px;
  }

  .cta-buttons .btn {
    width: 6.5rem;
    height: 2.9rem;
    padding: 2%;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .logo img {
    width: 110px;
  }

  header {
    padding: 0 3%;
  }
}

@media screen and (max-width: 400px) {
  .button.primary {
    width: 100%;
    font-size: 14px;
    padding: 8px 12px;
  }

  .logo {
    width: 18px;
    margin-bottom: 30%;
  }

  header {
    padding: 10px;
  }
}
