:root {
  --roxo-mobiliza: #733268;
  --amarelo-mobiliza: #ffb600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.logos-patrocinadores img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: scale-down;
  overflow: hidden;
  border-color: #49073d;
}

.voluntariado {
  background-color: #f9f9f9;
  text-align: center;
}

.voluntariado h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.colunas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.coluna {
  flex: 1;
  padding: 30px;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}
.paragrafo2 {
  font-size: 1.1rem;
}
.coluna-desejo-ser-voluntario {
  background-color: var(--roxo-mobiliza);
  color: #fff;
}

.coluna-time-do-bem {
  background-color: var(--amarelo-mobiliza);
  color: var(--roxo-mobiliza);
}

.coluna-nossa-lojinha {
  background-color: var(--roxo-mobiliza);
  color: #fff;
}

.coluna h3 {
  font-size: 2.4em;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: white;
}

