:root {
  --roxo-mobiliza: #733268;
  --amarelo-mobiliza: #ffb600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
/* Estilo geral do banner */
/* Estilo geral do banner */
.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333; /* Cor de fundo escuro */
  color: #fff; /* Texto branco */
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.cookie-banner p {
  margin: 0;
  flex: 1;
  color: rgba(255, 255, 255, 0.87);
}

.cookie-banner a {
  color: var(--amarelo-mobiliza); /* Cor de destaque para links */
  text-decoration: underline;
}

.cookie-banner button {
  background-color: var(--amarelo-mobiliza); /* Cor do botão amarelo */
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cookie-banner button:hover {
  background-color: #e67e22; /* Cor do botão ao passar o mouse */
}

.cookie-banner .close-button {
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.cookie-banner .close-button:hover {
  background-color: #e67e22; /* Cor de hover do X */
}

.cookie-banner button:focus,
.cookie-banner .close-button:focus {
  outline: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .cookie-banner {
    font-size: 12px;
    padding: 10px;
    flex-direction: column; /* Exibe os itens na vertical em telas pequenas */
    align-items: center; /* Centraliza os itens */
  }

  .cookie-banner button {
    margin-left: 0;
    margin-top: 10px; /* Espaço entre o botão e o texto */
  }

  .cookie-banner p {
    margin-bottom: 10px; /* Espaço entre o texto e o botão */
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* Ajuste do espaçamento do conteúdo para evitar sobreposição */
body {
  padding-top: 60px; /* Adiciona espaço equivalente à altura do header */
}

.logo img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
a{
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.logos-patrocinadores img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: scale-down;
  overflow: hidden;
  border-color: #49073d;
}

.voluntariado {
  background-color: #f9f9f9;
  text-align: center;
}

.voluntariado h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.colunas {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.coluna {
  flex: 1;
  padding: 30px;
  min-height: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}
.paragrafo2 {
  font-size: 1.1rem;
}
.coluna-desejo-ser-voluntario {
  background-color: var(--roxo-mobiliza);
  color: #fff;
}

.coluna-time-do-bem {
  background-color: var(--amarelo-mobiliza);
  color: var(--roxo-mobiliza);
}

.coluna-nossa-lojinha {
  background-color: var(--roxo-mobiliza);
  color: #fff;
}

.coluna h3 {
  font-size: 2.4em;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  color: white;
}

.missao-mobiliza {
  background-color: var(--roxo-mobiliza);
}

.missao-mobiliza h2 {
  color: #fff;
  font-size: 36px;
  padding: 50px 0px 0px 9px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
#retangulo-abaixo-do-titulo {
  width: auto; /* Usa a largura original da imagem */
  height: auto; /* Usa a altura original da imagem */
  object-fit: none; /* Evita o recorte ou redimensionamento */
  margin-left: 12px; /* Adiciona margem à esquerda */
  display: block; /* Faz a imagem respeitar as margens */
}
.informacoes-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0px 60px 30px;
  color: #fff;
}

.informacao-item {
  flex: 1;
  padding: 10px;
  margin-top: 50px;
}

.informacao-item h3 {
  font-size: 1.5em;
  margin-bottom: 13px;
  color: #fff;
}

.informacao-item p {
  font-size: 1em;
  color: #fff; /* Cor do texto */
  line-height: 1.8; /* Define espaçamento entre linhas */
  word-wrap: break-word; /* Quebra palavras longas para caber no contêiner */
  word-break: break-word; /* Garante que palavras maiores sejam quebradas */
  font-family: "Roboto", sans-serif; /* Mantém a fonte */
  white-space: pre-wrap; /* Respeita quebras de linha no texto */
}

.container-carrossel {
  position: relative;
  max-width: 100%;
  margin: 0;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta o alinhamento exato */
  width: 40px; /* Largura da seta */
  height: 40px; /* Altura da seta */
  background-color: var(--amarelo-mobiliza); /* Fundo com cor e transparência */
  border-radius: 50%; /* Deixa o botão em formato circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.6; /* Define uma opacidade inicial */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transição suave */
  z-index: 10; /* Garante que as setas fiquem acima de outros elementos */
}

.arrow-left {
  left: 10px; /* Distância da borda esquerda */
}

.arrow-right {
  right: 10px; /* Distância da borda direita */
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1; /* Fica totalmente visível ao passar o mouse */
  transform: translateY(-50%) scale(1.1); /* Adiciona leve aumento ao hover */
  background-color: var(
    --amarelo-mobiliza
  ); /* Fundo fica mais escuro no hover */
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
}

.item {
  min-width: 303px;
  height: 250px;
  flex-shrink: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transição para a opacidade e o zoom */
}

.current-item {
  opacity: 1;
  transform: scale(1.05); /* Aplica o zoom no item ativo */
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.control:focus {
  outline: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery img {
  width: 265px;
  height: 250px;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



@keyframes slideUp {
  from {
    transform: translateY(50px); /* Começando mais abaixo */
    opacity: 0;
  }
  to {
    transform: translateY(0); /* Finaliza na posição original */
    opacity: 1;
  }
}

.missao-mobiliza {
  padding: 40px;
}

.missao-mobiliza h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.control:focus {
  outline: none;
}

.informacoes-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  flex-wrap: wrap;
}

.informacao-item {
  width: 30%;
  margin: 10px 0;
}

.informacao-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.informacao-item p {
  font-size: 1rem;
  color: white;
}

.container-carrossel {
  position: relative;
  max-width: 100%;
  margin: 0;
}

.gallery-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
}

.item {
  min-width: 303px;
  height: 250px;
  flex-shrink: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.current-item {
  opacity: 1;
  transform: scale(1.05);
}

.control {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(106, 27, 154, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
  background-color: rgba(74, 20, 140, 1);
}

.gallery img {
  width: 265px;
  height: 250px;
  object-fit: cover;
}

/* Media Queries para Responsividade */

/* Para telas menores que 768px (Tablets e dispositivos móveis) */
@media (max-width: 768px) {
  .informacao-item {
    width: 45%; /* Aumenta a largura para 45% para se ajustar melhor em telas pequenas */
  }

  .missao-mobiliza h2 {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para caber melhor em telas menores */
  }

  .container-carrossel {
    margin: 10px 0; /* Ajusta o espaçamento vertical */
  }

  .gallery img {
    width: 100%; /* Faz as imagens do carrossel ocuparem 100% da largura disponível */
    height: auto; /* Ajusta a altura para manter a proporção */
  }
}

/* Para telas menores que 480px (Smartphones) */
@media (max-width: 480px) {
  .informacao-item {
    width: 100%; /* Ocupa toda a largura disponível */
    margin: 10px 0;
  }

  .missao-mobiliza h2 {
    font-size: 1.25rem; /* Tamanho da fonte ainda menor */
  }

  .informacoes-container {
    flex-direction: column; /* Faz os itens se empilharem verticalmente */
    align-items: center;
  }

  .control {
    width: 35px; /* Reduz o tamanho das setas */
    height: 35px;
  }

  .arrow-left,
  .arrow-right {
    width: 35px; /* Ajusta as setas para caber melhor */
    height: 35px;
  }

  .gallery img {
    width: 100%; /* Faz as imagens do carrossel ocuparem 100% da largura disponível */
    height: auto; /* Ajusta a altura para manter a proporção */
  }
}

#fale-com-a-gente {
  background-color: var(--amarelo-mobiliza);
  color: #ffffff;
  text-align: left;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

#fale-com-a-gente h2 {
  font-size: 36px;
  color: var(--roxo-mobiliza);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 55px 40px 0;
  /* padding: 50px 0px 0px 40px; */
  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
}

.contato-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  padding: 40px;
}

.contatos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  width: 60%;
}

.contato-opcao {
  background-color: var(--amarelo-mobiliza);
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  opacity: 0;
  animation: slideUp 0.8s forwards;
}

.contato-opcao h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--roxo-mobiliza);
  font-family: "Poppins", sans-serif;
}

.contato-opcao p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: white;
  width: 280px;
  text-align: left;
}

.contato-opcao img {
  width: 150px;
  height: auto;
  margin-top: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contato-opcao a:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}

.formulario-contato {
  width: 35%;
  opacity: 0;
  animation: fadeIn 1s forwards 1s;
}

.formulario-contato h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--roxo-mobiliza);
  font-family: "Poppins", sans-serif;
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
}

.formulario-contato input,
.formulario-contato textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  transition: border 0.3s ease;
}

.formulario-contato input:focus,
.formulario-contato textarea:focus {
  border-color: var(--roxo-mobiliza);
}

.formulario-contato button {
  background-color: var(--roxo-mobiliza);
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  border: 2px solid var(--amarelo-mobiliza); /* Borda com a cor de destaque */
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.formulario-contato button:hover {
  background-color: var(--roxo-mobiliza); /* Cor de fundo no hover */
  transform: translateY(-3px); /* Efeito de elevação */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Animações */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade para telas menores que 768px (tablets) */


/* Form status */
.form-status {
  margin-top: 10px;
  font-size: 0.9rem; /* Reduzido para melhor visualização */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.form-status.success {
  color: green;
  background-color: #e7f9e7;
}

.form-status.error {
  color: red;
  background-color: #f9e7e7;
}

/* Fale com a gente */
#fale-com-a-gente {
  background-color: var(--amarelo-mobiliza);
  color: #ffffff;
  text-align: left;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

/* #fale-com-a-gente h2 {
  font-size: 2rem; /* Reduzido para desktop */
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 40px 20px 0;
  opacity: 0;
  animation: fadeIn 1s forwards 0.5s;
} */

/* Contato container */
.contato-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  padding: 40px 20px;
}

.contatos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  width: 100%;
  max-width: 800px; /* Ajuste para não ficar muito largo */
}

.contato-opcao {
  background-color: var(--amarelo-mobiliza);
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  opacity: 0;
  animation: slideUp 0.8s forwards;
  font-family: "Poppins", sans-serif;
}

.contato-opcao h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: var(--roxo-mobiliza);
}

.contato-opcao p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

.contato-opcao img {
  width: 120px;
  height: auto;
  margin-top: 8px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contato-opcao a:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}

/* Formulário de contato */
.formulario-contato {
  width: 100%;
  max-width: 450px; /* Limitar largura no desktop */
  opacity: 0;
  animation: fadeIn 1s forwards 1s;
}

.formulario-contato h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--roxo-mobiliza);
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
}

.formulario-contato input,
.formulario-contato textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  transition: border 0.3s ease;
}

.formulario-contato input:focus,
.formulario-contato textarea:focus {
  border-color: var(--roxo-mobiliza);
}

.formulario-contato button {
  background-color: var(--roxo-mobiliza);
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.formulario-contato button:hover {
  background-color: darken(var(--roxo-mobiliza), 10%);
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries para dispositivos móveis e tablets */
@media (max-width: 768px) {
  #fale-com-a-gente h2 {
    font-size: 1.5rem; /* Ajuste no título */
    padding: 40px 0px 10px 25px;
  }

  .contato-container {
    padding: 20px;
  }

  .contatos {
    grid-template-columns: 1fr; /* Ajuste para uma coluna */
    width: 100%;
  }

  .formulario-contato {
    width: 100%;
    max-width: 100%; /* Ajuste para tela pequena */
  }

  .formulario-contato h3 {
    font-size: 1rem;
  }

  .contato-opcao img {
    width: 150px; /* Imagem menor em telas pequenas */
  }
}

/* Media Queries para celulares */
@media (max-width: 480px) {
  .form-status {
    font-size: 0.8rem; /* Ajuste da fonte do status */
  }

  .contato-opcao h3 {
    font-size: 1.3rem; /* Ajuste da fonte do título */
  }
  .contato-opcao img {
    width: 150px; /* Imagem menor em telas pequenas */
  }
  .contato-opcao p {
    font-size: 1rem; /* Ajuste do texto */
  }
}
