.hero {
  position: relative;
  height: 501px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: fadeInHero 2s ease-out;
  margin-top: 80px;
}

.hero .container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 42%;
  left: 20%;
  background-color: rgba(247, 179, 43, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: #49073d;
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(50px);
  opacity: 0;
  animation: fadeInText 1.5s ease-out 0.5s forwards;
}

.hero-text p {
  margin: 0;
  line-height: 1.5;
}

@keyframes fadeInHero {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero {
    height: 18.75rem;
  }

  .hero-text {
    font-size: 1.2rem;
    top: 10%;
    left: 5%;
    width: 90%;
    max-width: 350px;
    margin-top: 50px;
    margin-left: 10px;
  }
}
